body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    margin: 0 auto;
    font-family: "Roboto";
    width: 1028px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
    padding-bottom: 17px;
    color: white;
}

.logo {
    display: inline-flex;
}

.logo-photo {
    background: url(../img/logo.png);
    display: inline-flex;
    background-size: cover;
    width: 53px;
    height: 47px;
    margin-right: 8px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-transform: uppercase;
}

.a-text {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

.milan {
    font-size: 29px;
}

.holidays {
    padding-top: 2px;
}

.logo:hover .logo-photo {
    background: url(../img/logo2.png);
}

.logo:hover .milan, 
.logo:hover .holidays,
.email:hover,
.phone:hover {
    color: #F26522;
}

.block {
    display: block;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 400;
    font-size: 18px;
}

.phone {
    padding-top: 19px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 261px);
    gap: 37px 61px;
}

.box1:hover .submenu,
.box2:hover .submenu,
.box3:hover .submenu,
.box4:hover .submenu,
.box5:hover .submenu,
.box6:hover .submenu {
    opacity: 1;
    transform: translateY(0);
}

.box1:hover .a-text,
.box2:hover .a-text,
.box3:hover .a-text,
.box4:hover .a-text,
.box5:hover .a-text,
.box6:hover .a-text {
    color:#F26522;
}


.figcaption {
    text-align: center;
}

.figure {
    position: relative;
    height: 220px;
    width: 300px;
}

.img {
    margin-bottom: 20px;
    height: 220px;
    width: 300px;
    box-sizing: border-box;
    border: 3px solid;
    border-image: repeating-linear-gradient(90deg, black,white) 50;
}

.submenu {
    box-sizing: border-box;
    position: absolute;
    background-color: #F26522;
    color: #fff;
    width: 294px;
    height: 55px;
    bottom: 3px;
    left: 3px; 
    right: 3px;
    text-align: left;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1s linear;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 7px 16px 12px 16px;
    flex-direction: row;
    align-items: flex-end;
    text-align: left;
}

.from {
    font-size: 10px;
    padding-bottom: 8px;
}

.price {
    font-size: 20px;
}

.view {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.view::after {
    content: ">";
    font-size: 14px;
    padding-left: 16px;
    color: #fff;
    text-decoration: none;
}

.footer {
    margin: 49px 0 15px 0;
    text-align: center;
    font-size: 12px;
    color: #fff;
}